USE [master]
GO
/****** Object:  Database [WYSIWYG]    Script Date: 8/29/2018 10:14:38 PM ******/
CREATE DATABASE [WYSIWYG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WYSIWYG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LEOMAX\MSSQL\DATA\WYSIWYG.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WYSIWYG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LEOMAX\MSSQL\DATA\WYSIWYG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WYSIWYG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WYSIWYG]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 8/29/2018 10:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[EMail] [nvarchar](100) NOT NULL,
	[LogIn] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[ModifiedDate] [smalldatetime] NOT NULL,
	[GUID] [varchar](100) NULL,
	[isActivated] [bit] NULL,
 CONSTRAINT [PK_UserAccounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([ID], [FirstName], [LastName], [EMail], [LogIn], [Password], [ModifiedDate], [GUID], [isActivated]) VALUES (3076, N'a', N'a', N'leomax@aa.a', N'a', N'a', CAST(N'1995-05-03 00:00:00' AS SmallDateTime), N'as', 1)
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserAccounts]    Script Date: 8/29/2018 10:14:38 PM ******/
ALTER TABLE [dbo].[UserAccounts] ADD  CONSTRAINT [IX_UserAccounts] UNIQUE NONCLUSTERED 
(
	[LogIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserAccounts_1]    Script Date: 8/29/2018 10:14:38 PM ******/
ALTER TABLE [dbo].[UserAccounts] ADD  CONSTRAINT [IX_UserAccounts_1] UNIQUE NONCLUSTERED 
(
	[EMail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserAccounts_2]    Script Date: 8/29/2018 10:14:38 PM ******/
ALTER TABLE [dbo].[UserAccounts] ADD  CONSTRAINT [IX_UserAccounts_2] UNIQUE NONCLUSTERED 
(
	[LogIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
